<launch>

  <!-- Navigation parameter files -->
  <arg name="move_base_include" default="$(find fetch_navigation)/launch/include/move_base.launch.xml" />

  <node pkg="slam_karto" type="slam_karto" name="slam_karto" output="screen">
    <remap from="scan" to="base_scan" />
  </node>
  <!-- move the robot -->
  <include file="$(arg move_base_include)" >
    <arg name="name" value="fetch" />
  </include>

</launch>
